:root {
    --dark: #13293d;
    --light: #bdd0d8;
    --bo: 50px;
  }

  body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  .para { 
    border: #ffffff;
    border-radius: 50px;
    flex-wrap: wrap;
    flex-direction: row;

  }
  .avatar {
    vertical-align: center;
    width: 200px;
    height: 200px;
    border-color: #10bcd6;
    border-radius: 100%;
    flex-wrap: wrap;
    -webkit-backdrop-filter: blur(15px) saturate(3);
      backdrop-filter: blur(15px) saturate(3);
      /* These lines prevent the border box from clipping the blur effect */
     padding: 10px;
     margin: -10px;
  }

  img {
    border: 5px solid #ffffff;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  header {
    padding: 20px;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: #16cab5;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background-color: var(--dark); 
    color: var(--light);
    margin-top: auto;
  }
  
  .content {
    flex: 1;
    background-color: var(--light);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 
  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: var(--bo);
    padding: 10px;
    flex: 0 0 300px;
    margin: 20px;
  }
  
  .card > header {
    border-radius: var(--bo);
    padding: 20px;
  }
 
  .card > p {
    text-align: justify;
  } 
  
  ul {
    width: 100%;
    padding-left: 0;
    flex-wrap: wrap;
  }
  
  footer {
    flex-wrap: wrap;
  }